<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Remote IO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>GPIO</ion-label>
      <ion-select [(ngModel)]="GPIO">
        <ion-option value="17">17</ion-option>
        <ion-option value="18">18</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select [(ngModel)]="Status">
        <ion-option value="On">On</ion-option>
        <ion-option value="Off">Off</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div>
    <button ion-button round (click)="SendInfo()">Send status</button>
  </div>
  <div *ngIf="!isConnected">
      <button ion-button round (click)="ReconnectWithBroker()">Reconnect</button>
  </div>
  <div *ngIf="isConnected">
      <button ion-button round (click)="ReconnectWithBroker()" style="display:none">Reconnect</button>
  </div>
  <div>
    <button ion-button round (click)="ListenForSpeech()">Listen for speech</button>
  </div>

</ion-content>
