<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="container-fluid">
    <div>
      <svg version="1.1" width="112px" height="811px" viewBox="0 80 150 900">
        <rect x="0" y="0" width="110" height="810" fill="#cccccc" stroke="#000000"/> <!-- grey background-->
        <rect x="20" y="10" width="30" height="30" rx="4.5" ry="4.5" fill="#cc0000" stroke="#000000"/> <!-- 3.3V-->
        <ellipse cx="35" cy="25" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000"/>
        <ellipse cx="75" cy="25" rx="15" ry="15" fill="#ff3333" stroke="#000000" /><!-- 5V -->
        <ellipse cx="75" cy="25" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="65" rx="15" ry="15" fill="#ff3333" stroke="#000000" /><!-- 5V -->
        <ellipse cx="76" cy="65" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="105" rx="15" ry="15" fill="#1a1a1a" stroke="#000000" /><!-- GND -->
        <ellipse cx="75" cy="105" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="145" rx="15" ry="15" fill="#ff9933" stroke="#000000" /><!-- GPIO 14 -->
        <ellipse id="GPIO14" cx="75" cy="145" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="185" rx="15" ry="15" fill="#ff9933" stroke="#000000" /><!-- GPIO 15 -->
        <ellipse id="GPIO15" cx="75" cy="185" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="225" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 18 -->
        <ellipse id="GPIO18" cx="75" cy="225" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="265" rx="15" ry="15" fill="#1a1a1a" stroke="#000000" /><!-- GND -->
        <ellipse cx="75" cy="265" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="305" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 23 -->
        <ellipse id="GPIO23" cx="75" cy="304" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="345" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 24 -->
        <ellipse id="GPIO24" cx="75" cy="345" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="385" rx="15" ry="15" fill="#1a1a1a" stroke="#000000" /><!-- GND -->
        <ellipse cx="75" cy="384" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="425" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 28 -->
        <ellipse id="GPIO28" cx="75" cy="424" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="465" rx="15" ry="15" fill="#cc00cc" stroke="#000000" /><!-- GPIO 8 -->
        <ellipse id="GPIO8" cx="75" cy="465" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="505" rx="15" ry="15" fill="#cc00cc" stroke="#000000" /><!-- GPIO 7 -->
        <ellipse id="GPIO7" cx="75" cy="505" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="545" rx="15" ry="15" fill="#ffff00" stroke="#000000" /><!-- ID_SC -->
        <ellipse cx="75" cy="545" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="585" rx="15" ry="15" fill="#1a1a1a" stroke="#000000" /><!-- GND -->
        <ellipse cx="75" cy="585" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="75" cy="625" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 12 -->
        <ellipse id="GPIO12" cx="76" cy="625" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="76" cy="665" rx="15" ry="15" fill="#1a1a1a" stroke="#000000" /><!-- GND -->
        <ellipse cx="76" cy="665" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="76" cy="705" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 16 -->
        <ellipse id="GPIO16" cx="75" cy="705" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="76" cy="745" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 20 -->
        <ellipse id="GPIO20" cx="75" cy="745" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="76" cy="785" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 21 -->
        <ellipse id="GPIO21" cx="75" cy="785" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="64" rx="15" ry="15" fill="#66b2ff" stroke="#000000" /><!-- GPIO 2 -->
        <ellipse id="GPIO2" cx="36" cy="64" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="104" rx="15" ry="15" fill="#66b2ff" stroke="#000000" /><!-- GPIO 3 -->
        <ellipse id="GPIO3" cx="35" cy="104" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="144" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 4 -->
        <ellipse id="GPIO4" cx="35" cy="144" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="184" rx="15" ry="15" fill="#1a1a1a" stroke="#000000" /><!-- GND -->
        <ellipse cx="35" cy="184" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="224" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 17 -->
        <ellipse id="GPIO17" cx="35" cy="224" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="264" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 27 -->
        <ellipse id="GPIO27" cx="35" cy="264" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="304" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 22 -->
        <ellipse id="GPIO22" cx="35" cy="304" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="344" rx="15" ry="15" fill="#ff3333" stroke="#000000" /><!-- 3.3V -->
        <ellipse cx="35" cy="344" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="384" rx="15" ry="15" fill="#cc00cc" stroke="#000000" /><!-- GPIO 10 -->
        <ellipse id="GPIO10" cx="35" cy="384" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="424" rx="15" ry="15" fill="#cc00cc" stroke="#000000" /><!-- GPIO 9 -->
        <ellipse id="GPIO9" cx="35" cy="424" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="464" rx="15" ry="15" fill="#cc00cc" stroke="#000000" /><!-- GPIO 11 -->
        <ellipse id="GPIO11" cx="35" cy="464" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000"/>
        <ellipse cx="35" cy="504" rx="15" ry="15" fill="#1a1a1a" stroke="#000000" /><!-- GND -->
        <ellipse cx="35" cy="504" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="544" rx="15" ry="15" fill="#ffff00" stroke="#000000" /><!-- ID_SD -->
        <ellipse cx="35" cy="544" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="584" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 5 -->
        <ellipse id="GPIO5" cx="35" cy="584" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="35" cy="624" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 6 -->
        <ellipse id="GPIO6" cx="36" cy="624" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="36" cy="664" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 13 -->
        <ellipse id="GPIO13" cx="36" cy="665" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="36" cy="704" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 19 -->
        <ellipse id="GPIO19" cx="35" cy="704" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="36" cy="744" rx="15" ry="15" fill="#009900" stroke="#000000" /><!-- GPIO 26 -->
        <ellipse id="GPIO26" cx="36" cy="744" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
        <ellipse cx="36" cy="784" rx="15" ry="15" fill="#1a1a1a" stroke="#000000" /><!-- GND -->
        <ellipse cx="36" cy="784" rx="7.5" ry="7.5" fill="#ffffff" stroke="#000000" />
      </svg>
    </div>
  </div>
</ion-content>
