<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Temperature</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div id="container" style="display: block;"	></div>
</ion-content>
